In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
data = pd.read_csv('news_classification.csv')
data

,Unnamed: 0,category,filename,title,content
0,0,business,001.txt,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarne...
1,1,business,002.txt,Dollar gains on Greenspan speech,The dollar has hit its highest level against ...
2,2,business,003.txt,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuk...
3,3,business,004.txt,High fuel prices hit BA's profits,British Airways has blamed high fuel prices f...
4,4,business,005.txt,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Dome...
...,...,...,...,...,...
2220,2220,tech,397.txt,BT program to beat dialler scams,BT is introducing two initiatives to help bea...
2221,2221,tech,398.txt,Spam e-mails tempt net shoppers,Computer users across the world continue to i...
2222,2222,tech,399.txt,Be careful how you code,A new European directive could put software w...
2223,2223,tech,400.txt,US cyber security chief resigns,The man making sure US computer networks are ...
2224,2224,tech,401.txt,Losing yourself in online gaming,"Online role playing games are time-consuming,..."

In [5]:
df= data.drop(['Unnamed: 0'], axis =1)
df

,category,filename,title,content
0,business,001.txt,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarne...
1,business,002.txt,Dollar gains on Greenspan speech,The dollar has hit its highest level against ...
2,business,003.txt,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuk...
3,business,004.txt,High fuel prices hit BA's profits,British Airways has blamed high fuel prices f...
4,business,005.txt,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Dome...
...,...,...,...,...
2220,tech,397.txt,BT program to beat dialler scams,BT is introducing two initiatives to help bea...
2221,tech,398.txt,Spam e-mails tempt net shoppers,Computer users across the world continue to i...
2222,tech,399.txt,Be careful how you code,A new European directive could put software w...
2223,tech,400.txt,US cyber security chief resigns,The man making sure US computer networks are ...
2224,tech,401.txt,Losing yourself in online gaming,"Online role playing games are time-consuming,..."

In [6]:
df['category'].value_counts()

sport            511
business         510
politics         417
tech             401
entertainment    386
Name: category, dtype: int64

In [7]:
df.isnull().sum()

category    0
filename    0
title       0
content     0
dtype: int64

In [8]:
df.describe()

,category,filename,title,content
count,2225,2225,2225,2225
unique,5,511,2096,2092
top,sport,001.txt,Microsoft seeking spyware trojan,Microsoft has warned PC users to update their...
freq,511,5,2,2

In [9]:
value=df[['title', 'category']]
z= np.array(value['title'])
y= np.array(value['category'])
z

array(['Ad sales boost Time Warner profit',
       'Dollar gains on Greenspan speech',
       'Yukos unit buyer faces loan claim', ...,
       'Be careful how you code', 'US cyber security chief resigns',
       'Losing yourself in online gaming'], dtype=object)

In [10]:
y

array(['business', 'business', 'business', ..., 'tech', 'tech', 'tech'],
      dtype=object)

In [11]:
cv=CountVectorizer()
x=cv.fit_transform(z)
x

<2225x3754 sparse matrix of type '<class 'numpy.int64'>'
	with 11636 stored elements in Compressed Sparse Row format>

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 1/3, random_state=0)

In [15]:
from sklearn.naive_bayes import MultinomialNB

In [16]:
model = MultinomialNB()
model.fit(x_train, y_train)

MultinomialNB()

In [ ]:
user= input('enter news headline ').lower()
data= cv.transform([user]).toarray()
ypred=model.predict(data)
print(ypred)